@page
@model AutomationDetailModel
@{
    ViewData["Title"] = "Automation";
}

<div class="text-left">
    <h1 class="display-4">@Model.Name</h1>    
</div>
<div> @Model.CurrentState</div>
<form method="post">
    <input type="submit" value="Start" asp-page-handler="Start" asp-route-id="@Model.Name"></button>
    <input type="submit" value="Stop" asp-page-handler="Stop" asp-route-id="@Model.Name"></button>
</form>