@page
@model AutomationsModel
@{
    ViewData["Title"] = "Automations";
}

<div class="text-center">
    <h1 class="display-4">List of automations</h1>
</div>

<table class="table">
    <thead>
        <th>Name</th>
        <th>State</th>
        <th></th>
    </thead>
    <tbody>
@foreach (var item in Model.Automations) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentState)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Name">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
