@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>
    <p>Latitude: @Model.LocationService.Latitude</p>
    <p>Longitude: @Model.LocationService.Longitude</p>
    <p>Sunrise time: @Model.LocationService.SunInfo.TodaySunriseTime</p>
    <p>Sunset time: @Model.LocationService.SunInfo.TodaySunsetTime</p>
</div>

<button onclick="">On</button>