@page
@model LightManager.PanelUi.Pages.KitchenModel

@{
    ViewData["Title"] = "Konyha";
}

<div class="d-flex justify-content-center mt-4">
    <div class="card m-2" style="width: 18rem;">
        <div class="card-body text-center">
            <form method="post">  
               <input type="hidden" name="mode" value="off" />
               <button type="submit" class="border-0 bg-transparent" style="width: 100%;">
                   <img 
                   src="~/images/light_off.png" 
                   class="img" 
                   alt="Light off" 
                   style="width: 100%; height: auto;" />
               </button>
            </form>
        </div>
    </div>

    <div class="card m-2" style="width: 18rem;">
        <div class="card-body text-center">
            <form method="post">
                <input type="hidden" name="mode" value="on" />
                <button type="submit" class="bg-transparent border-0" style="width: 100%;">
                    <img src="~/images/light_on.png" class="img" alt="Light on" style="width: 100%; height: auto;" />
                </button>
            </form>
        </div>
    </div>
</div>